@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin; /* Firefox */
}

*::-webkit-scrollbar {
	width: 8px;
	background-color: grey;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.app {
	min-height: 98.5vh;
	border: 8px solid #39445a93;
	/* background-color: yellow; */
	margin: 5px;
	padding: 5px;
}

.mainImg {
	padding: 10px 0 5px 0;
}

/* For Header */
.title {
	text-transform: uppercase;
	font-size: 3vw;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: rgb(190, 190, 190);
	/* background-color: #bbd6b8; */
	/* background-color: rgb(189, 233, 218); */
}

.divider {
	margin: 10px;
	width: 100%;
	background-color: grey;
}

.logo {
	margin-top: 20px;
}

/* For Question */
.question {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.singleQuestion {
	width: 95%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(243, 214, 174);
	border-radius: 10px;
	/* border: 5px solid grey; */
	padding: 20px;
	margin-top: 10px;
}

.options {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
}

.singleOption {
	cursor: pointer;
	width: 46%;
	height: 65px;
	font-size: large;
	padding: 5px 10px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 0 2px black;
	overflow: visible;
}

@media (max-width: 614px) {
	.singleOption {
		width: 100%;
		font-size: medium;
	}
	.title {
		font-size: 5vw;
	}
}

.controls {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.controlsVertical {
	display: flex;
	width: 100%;
	height: 25vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.select {
	background-color: rgb(7, 207, 0);
	color: white;
	box-shadow: 0 0 1px black;
}

.wrong {
	background-color: rgb(233, 0, 0);
	color: white;
	box-shadow: 0 0 1px black;
}
