.content {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	min-height: 100vh;
	align-items: center;
	z-index: -1;
	/* justify-content: space-around; */
	background-color: rgb(228, 226, 226);
	/* background-color: #dbe4c6; */
}

.settings {
	width: 75%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.banner {
	width: 55%;
	align-self: center;
	padding: 8px;
}

.input-box {
	background-color: white;
}

.url,
.pdf {
	display: flex;
	width: auto;
	margin-bottom: 25px;
	justify-content: space-between;
	align-items: center;
}

.url-box,
.pdf-box {
	width: 62%;
}

.url-button,
.pdf-button {
	width: 18%;
	height: 96%;
}

.counting {
	display: flex;
	width: auto;
	justify-content: end;
	padding-bottom: 10px;
}

.count {
	width: fit-content;
}

.home-controls {
	display: flex;
	height: 50px;
	justify-content: space-between;
	margin-top: 30px;
}

.home-controls > * {
	width: 24%;
}

@media (max-width: 600px) {
	.content {
		/* flex-direction: column-reverse; */
		align-items: center;
	}
	.banner {
		width: 85%;
		padding: 0;
		padding-top: 20px;
	}
	.settings {
		width: 100%;
	}
}

.settings__select {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	flex: 0.8;
	justify-content: space-evenly;
}
