.content {
	display: flex;
	justify-content: space-around;
	background-color: rgb(228, 226, 226);
	/* background-color: #dbe4c6; */
}

.settings {
	width: 65%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.banner {
	width: 55%;
	align-self: center;
	padding: 8px;
}

.input-box {
	background-color: white;
}

.url {
	display: flex;
	width: auto;
	margin-bottom: 20px;
	justify-content: space-between;
}

.url-box {
	width: 78%;
}

.url-button {
	width: 20%;
}

.counting {
	display: flex;
	width: auto;
	justify-content: end;
	padding-bottom: 10px;
}

.count {
	width: fit-content;
}

.home-controls {
	display: flex;
	justify-content: space-between;
}

.home-controls > * {
	width: 30%;
}

@media (max-width: 600px) {
	.content {
		flex-direction: column-reverse;
		align-items: center;
	}
	.banner {
		width: 85%;
		padding: 0;
		padding-top: 20px;
	}
	.settings {
		width: 100%;
	}
}

.settings__select {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	flex: 0.8;
	justify-content: space-evenly;
}
