.list-page {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	align-items: center;
	z-index: -1;
	/* justify-content: space-around; */
	background-color: rgb(228, 226, 226);
	/* background-color: #dbe4c6; */
}

.form-control {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	width: auto;
	justify-content: space-between;
}

.button-box {
	margin-right: 15px;
}

.control-button-in {
	width: 90px;
	font-size: medium;
}

@media (max-width: 600px) {
	.control-button-in {
		width: 80px;
		font-size: x-small;
	}
}
