.quiz {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 60px;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(228, 226, 226);
	/* background-color: #dbe4c6; */
}

.subtitle {
	font-size: 20px;
	font-style: italic;
	/* border: 1px solid rgb(117, 117, 117); */
	/* box-shadow: 4px 4px 2px rgb(136, 133, 133); */
	padding: 5px 10px;
	margin-bottom: 5px;
}

.quizInfo {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	margin: 10px;
}
